body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: right;
}

#score-title{
    font-weight: bold;
    font-size: 40px;

    padding: 0px;
    margin: 0px;
}

#score{
    font-style: italic;
    font-size: 40px;
    padding: 0px;
    margin: 0px 10px;
}

.hidden-heart{
    display: none;
}

.shown-heart{
    display: flex;
}

#question{
    min-height: 300px;
}

#answers{
    width: 100%;
}

#answers-top-row{
    display: flex;
    width: 100%;
}

#answers-bottom-row{
    display: flex;
    width: 100%;
}

.answer-button{
    width: 50%;
    min-height: 100px;
    box-sizing: border-box;

    cursor: pointer;

    margin: 10px;
    padding: 10px;
}

.correct-choice{
    width: 50%;
    min-height: 100px;
    box-sizing: border-box;

    cursor: pointer;

    margin: 10px;
    padding: 10px;

    background-color: #064a08;
    color: white;
}

.incorrect-choice{
    width: 50%;
    min-height: 100px;
    box-sizing: border-box;

    cursor: pointer;

    margin: 10px;
    padding: 10px;

    background-color: #6b1b1b;
    color: white;
}